<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>talkPersonality</title>
</head>
<style>
    .root{
    color:red;
    }

    .chatlist{

    width: 100%;
    position: absolute;
    }
    .face{
        border-radius:40px;
        text-align: center;
        float: left;
        width: 5%;
        border-style:dashed;
    }
    .content{
        align-items: center
        float: right;
        width: 80%;
        padding-left:20px;
    }
    .god{

        height:60px;

    }
</style>
<body>

</div>
</body>
</html>