<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .root{
        color: red;

        }
    </style>
</head>
<body>
    <div class="root">
        <h2 >게시판</h2>
    </div>
    <div class="post">
        <section class="article-list table-common con">
            <table  class="table" border="1">
                <thead>
                <tr>
                    <th>게시판넘버</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>인격체</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="postElement : ${postElements}">
                    <td> <a href="postCon.html" th:href="@{/Post/postCon/{personalityid}(personalityid=${postElement.postId})}" th:text="${postElement.postId}">포스트넘버1</a></td>
                    <td> <a href="postCon.html" th:href="@{/Post/postCon/{personalityid}(personalityid=${postElement.postId})}" th:text="${postElement.name}">제목1</a></td>
                    <td> <a href="postCon.html" th:href="@{/Post/postCon/{personalityid}(personalityid=${postElement.postId})}" th:text="${postElement.content}">내용1</a></td>
                    <td> <a href="postCon.html" th:href="@{/Post/postCon/{personalityid}(personalityid=${postElement.postId})}" th:text="${postElement.personalityId}">내용1</a></td>

                </tr>
                </tbody>
            </table>
        </section>
        <div>
            <button id="post" class="account" onclick="location.href='/Post/postUpload'" th:onclick="|location.href='@{/Post/postUpload}'|">게시판 올리기</button>
        </div>
    </div>



</body>
</html>