<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 class="con">게시글 상세</h1>
<section class="article-detail table-common con row">
  <div class="article-writer cell">
    <div class="writer-icon">이미지</div>
    <span>작성자</span>
  </div>
  <table class="cell" border="1">
    <colgroup>
      <col width="100px">
    </colgroup>
    <tbody>
    <tr class="article-title">
      <th>[번호]제목</th>
      <td colspan="3">내용2_2</td>
    </tr>
    <tr class="article-info">
      <th>날짜</th>
      <td>내용3_2</td>
      <th>작성자</th>
      <td th:text="${personality.id}">내용4_2</td>
    </tr>
    <tr class="article-body">
      <td colspan="4">libero earum! Ducimus, ratione!</td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>