<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>talkPersonality</title>
</head>
<style>
    .root{
    color:red;
    }

    .chatlist{

    width: 100%;
    position: absolute;
    }
    .face{
        border-radius:40px;
        text-align: center;
        float: left;
        width: 5%;
        border-style:dashed;
    }
    .content{
        align-items: center
        float: right;
        width: 80%;
        padding-left:20px;
    }
    .god{

        height:60px;

    }
</style>
<body>
<div class="root">
    <h2 >이야기하기</h2>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{chat.list.id}">ID</th>
            <th th:text="#{chat.list.name}">name</th>
            <th th:text="#{chat.list.content}">content</th>
            <th th:text="#{chat.list.face}">face</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="personality : ${personalities}">
            <td class="god">
                <div class="chatlist">
                    <div class="face">
                        <p th:text="${personality.face}">사진</p>
                    </div>
                    <div class="content">
                        <p th:text="|${personality.name}:${personality.content}|">이름</p>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>